<header class="bg-[#0055a5] text-white">
    <!--version movil(hasta 768px)-->
    <div class="flex items-center justify-between p-4 md:hidden">
        <h1 class="text-xl font-bold">Fellows</h1>
       <button (click)="toggleMenu()" class="text-2xl">
         ☰   
        </button>
    </div>
    <!--version desktop(desde 768px)-->
    <div class="hidden md:flex items-center justify-between p-4">
     <div class="flex items-center space-x-8">
        <h1 class="text-2xl font-bold">Fellows</h1>
     </div>
        <div class="flex items-center space-x-6" >
            <button class="hover:opacity-80">🔑 Iniciar Seccion </button>
            <button class="hover:opacity-80">👤 Suscribirse</button>
            
        </div>
    </div>

</header>
